#logo {
    position: absolute;
    top: 2.5%;
    left: 4%;
    width: 75px;
    cursor: pointer;
}

#plogo {
    position: absolute;
    top: 3.5%;
    right: 7%;
    width: 50px;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    padding-left: 900px;
    background-color: whitesmoke;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}
  
.nav-item {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
  
.nav-item:hover {
    color: #007bff;
    transition: 1000ms;
}
